.my{
    
    display: grid;
    column-gap: 50px;
    margin-left: 10%;
    position: relative;
   

    .pic_left{
        position: absolute;
        top: 38px;
        border: none;
        
    }
    .pic_left1{
        position: absolute;
        top: 250px;
        border: none;
    }
}

.SideMenu_CaNhan{
    margin-top: -25%;
    display: flex;
    position: fixed;
    flex-direction: row;
  
}
// .css-dev-only-do-not-override-1fviqcj{
//     width: 250px;
   
// }
.ant-menu-item{
    font-size: 15px;
    font-weight: 500;
}

.List_Status{
    margin-left: 28%;
}